pkgbase = agda
	pkgdesc = A dependently typed functional programming language and proof assistant
	pkgver = 2.6.3
	pkgrel = 14
	url = https://wiki.portal.chalmers.se/agda/
	arch = x86_64
	license = custom
	makedepends = alex
	makedepends = happy
	makedepends = ghc
	depends = ghc-libs
	depends = ghc
	depends = haskell-stmonadtrans
	depends = haskell-aeson
	depends = haskell-async
	depends = haskell-blaze-html
	depends = haskell-boxes
	depends = haskell-case-insensitive
	depends = haskell-cpphs
	depends = haskell-data-hash
	depends = haskell-dlist
	depends = haskell-edit-distance
	depends = haskell-equivalence
	depends = haskell-gitrev
	depends = haskell-hashable
	depends = haskell-monad-control
	depends = haskell-murmur-hash
	depends = haskell-parallel
	depends = haskell-regex-tdfa
	depends = haskell-split
	depends = haskell-strict
	depends = haskell-time-compat
	depends = haskell-unordered-containers
	depends = haskell-uri-encode
	depends = haskell-vector
	depends = haskell-vector-hashtables
	depends = haskell-zlib
	optdepends = agda-stdlib: for standard library
	source = https://hackage.haskell.org/packages/archive/Agda/2.6.3/Agda-2.6.3.tar.gz
	sha512sums = 005152c19b05d858a54d146b75c9a88bf87e7d1cbcaee237ea92f273c8c59e9cf7177d6d553ddf6246a74c7ab318ceac909c0bb981599fc5bb156a7b79d1234d

pkgname = agda
