pkgbase = haskell-equivalence
	pkgdesc = Maintaining an equivalence relation implemented as union-find using STT.
	pkgver = 0.4.1
	pkgrel = 27
	url = https://bitbucket.org/paba/equivalence/
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = haskell-quickcheck
	depends = ghc-libs
	depends = haskell-stmonadtrans
	depends = haskell-transformers-compat
	source = https://hackage.haskell.org/packages/archive/equivalence/0.4.1/equivalence-0.4.1.tar.gz
	sha512sums = 84bb593b3995da9ae05327e46c3965b0b66c662591fe264030a283cee52b6eca23aaa49a3c9f11b8c616dd1a5a8d731db3ba2d8993e0d8aa29d11e0f7efef0f3

pkgname = haskell-equivalence
