pkgbase = haskell-aeson
	pkgdesc = A JSON parsing and encoding library optimized for ease of use and high performance
	pkgver = 2.1.2.1
	pkgrel = 5
	url = https://github.com/haskell/aeson
	arch = x86_64
	license = GPL
	makedepends = ghc
	makedepends = haskell-diff
	makedepends = haskell-base-compat
	makedepends = haskell-base-orphans
	makedepends = haskell-base16-bytestring
	makedepends = haskell-generic-deriving
	makedepends = haskell-integer-logarithms
	makedepends = haskell-quickcheck-instances
	makedepends = haskell-tasty
	makedepends = haskell-tasty-golden
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	depends = haskell-onetuple
	depends = haskell-quickcheck
	depends = haskell-attoparsec
	depends = haskell-base-compat-batteries
	depends = haskell-data-fix
	depends = haskell-dlist
	depends = haskell-generically
	depends = haskell-hashable
	depends = haskell-indexed-traversable
	depends = haskell-primitive
	depends = haskell-scientific
	depends = haskell-semialign
	depends = haskell-strict
	depends = haskell-tagged
	depends = haskell-text-short
	depends = haskell-th-abstraction
	depends = haskell-these
	depends = haskell-time-compat
	depends = haskell-unordered-containers
	depends = haskell-uuid-types
	depends = haskell-vector
	depends = haskell-witherable
	source = https://hackage.haskell.org/packages/archive/aeson/2.1.2.1/aeson-2.1.2.1.tar.gz
	sha512sums = c7e3c5d61ac99b7e66a468cdcd0a20c9d0f42142b2398086aa1a3a992c60814c9d7505e4c15120fb00f0015ab1fb5592d6acdb31995e7af956f2867b95f12a40

pkgname = haskell-aeson
